.sidePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 75%;
  padding: 1.5rem;
  background-color: var(--color-off-white);
  z-index: 200;
  transform: translateX(-120%);
  transition: transform 0.7s;

  &--active {
    transform: translateX(0);
  }
}

.foreCast {
  width: 60%;
  min-width: 25rem;
  margin: 2rem 0;
  border-radius: 5px;
  padding: 2rem;
  background-color: var(--color-primary-blue);
  color: white;
  box-shadow: 0 1rem 2rem rgba(75, 75, 75, 0.5);

  div {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;

    &:nth-child(1) {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  
}